<footer>
    <section class="sec-1">
        <div class="bloq-1">
            <h2>Nombre del Proyecto</h2>
            <p>Aprende con Nosotros</p>
        </div>

        <section class="bloq-2">
            <div class="contacto">
                <h3>CONTACTO:</h3>
                <ul>
                    <li>Arodi Isaac Ramirez Luna</li>
                    <li>José Luis Garza Espinoza</li>
                    <li>Jessica Gaytán Cruz</li>
                    <li>Miguel Fabrizzio Zamora Hernández</li>
                    <li>Yael Abraham Torres Ruiz</li>
                </ul>
            </div>

            <div class="nosotros">
                <h3>SOBRE NOSOTROS:</h3>
                <ul>
                    <li>Actualidad</li>
                    <li>Experiencia</li>
                    <li>Sellos Estudiantiles</li>
                </ul>
            </div>

            <div class="siguenos">
                <h3>SÍGUENOS</h3>
                <ul>
                    <li>
                        <img src="/assets/img/login/advertencia.png" alt="Instagram" />@Nombreig
                    </li>
                    <li>
                        <img src="/assets/img/login/advertencia.png" alt="Facebook" />@NombreFB
                    </li>
                    <li>
                        <img src="/assets/img/login/advertencia.png" alt="Github" />@NombreGB
                    </li>
                </ul>
            </div>
        </section>

        <section class="sec-3">
            <p>T1</p>
            <p>T2</p>
            <p>T3</p>
            <p>T4</p>

            <div class="logo">
                <h2>Proyecto</h2>
                <img src="/assets/img/login/IMAGEN NIÑA.png" alt="Logo">
            </div>
        </section>

    </section>
</footer>