<footer>
    <section class="sec-1">
        <div class="bloq-1">
            <h2>TeachAll</h2>
            <p>Aprendizaje para todos</p>
        </div>

        <section class="sec-2">
            <div class="contacto">
                <h3>CONTACTO:</h3>
                <ul>
                    <li>Arodi Isaac Ramirez Luna</li>
                    <li>José Luis Garza Espinoza</li>
                    <li>Jessica Gaytán Cruz</li>
                    <li>Miguel Fabrizzio Zamora Hernández</li>
                    <li>Yael Abraham Torres Ruiz</li>
                </ul>
            </div>

            <div class="nosotros">
                <h3>SOBRE NOSOTROS:</h3>
                <ul>
                    <li><a href="">Actualidad</a></li>
                    <li><a href="">Experiencia</a></li>
                    <li><a href="">Sellos Estudiantiles</a></li>
                </ul>
            </div>

            <div class="siguenos">
                <h3>SÍGUENOS</h3>
                <ul>
                    <li>
                        <img src="/assets/img/footer/ig.png" alt="Instagram" /><a href="">@Nombreig</a>
                    </li>
                    <li>
                        <img src="/assets/img/footer/fb.png" alt="Facebook" /><a href="">@NombreFB</a>
                    </li>
                    <li>
                        <img src="/assets/img/footer/gh.png" alt="Github" /><a href="">@NombreGB</a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="sec-3">
            <div class="links">
                <a href="">LINK 1</a>
                <a href="">LINK 2</a>
                <a href="">LINK 3</a>
                <a href="">LINK 4</a>
            </div>
            

            <div class="logo">
                <h2>@TeachAll</h2>
                <img src="../../../assets/img/footer/Logo hack.png" alt="Logo">
            </div>
        </section>

    </section>
</footer>