<main class="main-login">
    <section class="bloq-izq">
        <div class="bloq-img">
            <div>
              <h2>Nombre del Proyecto</h2>
              <h3>IA Inclusiva</h3>
            </div>
          </div>
    </section>
  
    <section class="bloq-der">

        <div class="bloq-registro">
            <div class="registro">
              <h1>Registro</h1>
              <p>Haz tu registro para crear tu cuenta</p>
            </div>
      
            <div class="inputs">
                
              <input type="text" placeholder="Nombre" />
              <input type="text" placeholder="Apellido Paterno" />
              <input type="text" placeholder="Apellido Materno" />
              <input type="text" placeholder="Discapacidad" />
              <div class="separador-horizontal">  </div>
              <input type="text" placeholder="Usuario" />
              <input type="text" placeholder="E-mail" />
              <input type="text" placeholder="Contraseña" />

            </div>
            
      
            <div class="boton-crear">
              <button type="submit">CREAR CUENTA</button>
            </div>
          </div>
    </section>
  
  
  
  </main>
  
