<main>
  <section class="bloq-principal">
    <section class="bloq-superior">
      <div class="bloq-num-pregunta">
        <p>4</p>
      </div>
      <div class="bloq-pregunta">
        <p>¿Cuanto es 5x3?</p>
      </div>
      <button class="bloq-boton" type="submit">Siguiente</button>
    </section>

    <section class="bloq-respuestas">
      <button>
        <div class="bloq-imagen-color color-1">
          <div class="bloq-imagen">
            <p>A</p>
          </div>
        </div>
        <div class="bloq-respuesta">
          <p>24</p>
        </div>
      </button>
      <button>
        <div class="bloq-imagen-color color-2">
          <div class="bloq-imagen">
            <p>B</p>
          </div>
        </div>
        <div class="bloq-respuesta">
          <p>13</p>
        </div>
      </button>
      <button>
        <div class="bloq-imagen-color color-3">
          <div class="bloq-imagen">
            <p>C</p>
          </div>
        </div>
        <div class="bloq-respuesta">
          <p>15</p>
        </div>
      </button>
      <button>
        <div class="bloq-imagen-color color-4">
          <div class="bloq-imagen">
            <p>D</p>
          </div>
        </div>
        <div class="bloq-respuesta">
          <p>80</p>
        </div>
      </button>
    </section>
  </section>
</main>
