<main>
  <section class="bloq-principal">
    <section class="sec-1">
      <section class="bloq-1">
        <button class="unirse">UNIRME A UN QUIZ</button>
      </section>
      <section class="bloq-ia">
        <button class="usar-ia">INTERACTUAR CON LA IA</button>
      </section>
    </section>

    <section class="sec-2">
      <div class="bloq-1">
        <div class="bloq-datos">
          <h3>DATOS DEL ALUMNO</h3>
          <div class="datos">NOMBRE: <span> {{ name }} </span></div>
          <div class="datos">APELLIDOS: <span>Gonzales Marquez</span></div>
          <div class="datos">MI PROFESOR: <span>Arturo Hernandez </span></div>
        </div>
        <div class="bloq-avatar">
          <img src="../../../assets/avatares/3.png" alt="Avatar" />
        </div>
      </div>
      <div class="bloq-2">
        <div class="amarillo bloq-mancha">
          <h3>Nivel</h3>
          <div class="mancha">
            <p>5</p>
          </div>
        </div>
        <div class="naranja bloq-mancha">
          <h3>Quizes Jugados</h3>
          <div class="mancha">
            <p>10</p>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>
