main{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #FF8A00, #ff003c00);
    font-family: 'Open Sans', sans-serif;
}

.bloq-principal{
    width: 90%;
    height: 80%;
    padding: 2%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.sec-1{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: white;
    flex-direction: column;
    gap: 1rem;
}


.bloq-1{
    width: 100%;
    background-image: url("../../../assets/img/dashboard-alumnos/imgarcoiris.jpg");
    border-radius: .6rem;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.bloq-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(211, 191, 154) , rgba(178, 142, 94)); 
    border-radius: 1rem;
    opacity: 50%;
    z-index: -1;
}


.bloq-ia{
    width: 100%;
    background-image: url("../../../assets/img/dashboard-alumnos/arcoiris2.jpg");
    border-radius: .6rem;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
   
    
}

.bloq-ia::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(211, 191, 154) , rgba(178, 142, 94)); 
    border-radius: 1rem;
    opacity: 50%;
    z-index: -1;
}


.unirse{
    background-color:#FABE28;
    padding: 1rem;
    border-radius: .5rem;
    width: 25rem;
    height: 50%;
    border: none;
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
    
}

.usar-ia{
    background-color:#FABE28;
    padding: 1rem;
    border-radius: .5rem;
    width: 25rem;
    height: 50%;
    border: none;
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
   opacity: 100%;
    z-index: 1;

  
    
}


.sec-2{
    width: 50%;
    background-color:white;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sec-2 .bloq-1{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
}

.bloq-datos{
    background-color: white;
    width: 60%;
    height: 100%;
    text-align: center;
   
}

.bloq-datos h3{
    font-weight: 700;
}

.datos{
    background-color: #d9d9d9;
    margin-bottom: 1rem;
    height: 3rem;
    width: 22rem;
    border-radius: .6rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-weight: 700;
}

.datos span{
    font-weight: 400;
}

.bloq-avatar{
    background-color: cadetblue;
    width: 40%;
    height: 100%;
}

.bloq-1 img{
    width: 100%;
    height: 100%;
}

.sec-2 .bloq-2{
    height: 50%;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.bloq-mancha {
    width: 50%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: .6rem;
}

.amarillo{
    background-color:#FABE28;
}

.naranja{
    background-color: #ff8a00;;
}


.bloq-mancha h3{
    margin: 0;
    color: white;
}

.mancha{
    background-image: url("../../../assets/img/dashboard-alumnos/mancha.png");
    width: 9rem;
    height: 9rem;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #FF8A00;
    font-weight: 700;
}




