<div class="inclusion">

    
    <button matTooltip="Grabar voz" (click)="recorder()" mat-mini-fab color="warn">
        <mat-icon *ngIf="!grabar">keyboard_voice</mat-icon>
        <mat-icon *ngIf="grabar">check_box_outline_blank</mat-icon>
    </button>

    <button matTooltip="Dislexia" (click)="dislexia()" mat-mini-fab color="warn">
        <mat-icon>format_italic</mat-icon>
    </button>

    <button matTooltip="Invertir colores" (click)="invertir()" mat-mini-fab color="warn">
        <mat-icon>format_color_fill</mat-icon>
    </button>

    <button matTooltip="Mouse grande" (click)="mouse()" mat-mini-fab color="warn">
        <mat-icon>mouse</mat-icon>
    </button>

</div>
