<main>
  <section class="sec-1">
    <div class="bloq-contenido">
      <h1>NOMBRE DEL PROYECTO BLA BLA BLA</h1>

      <p>
        BLA BLA BLA BLA BLA BLA BLA BLABLA BLA BLA BLABLA BLA BLA BLABLA BLA BLA
        BLABLA BLA BLA BLABLA BLA BLA BLABLA BLA BLA BLABLA BLA BLA BLABLA BLA
        BLA BLABLA BLA BLA BLABLA BLA BLA BLABLA BLA BLA BLABLA BLA BLA BLABLA
        BLA BLA BLABLA BLA BLA BLABLA BLA BLA BLABLA BLA BLA BLA
      </p>

      <div class="caja-botones">
        <div class="caja-link"><a href="">SOY MAESTRO</a></div>
        <div class="caja-link"><a href="">SOY ALUMNO</a></div>
      </div>
    </div>

    <div class="bloq-video">
      <div class="caja-video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/watch?v=IwPdix5CXfU&ab_channel=TNTSportsM%C3%A9xico"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </section>
</main>
