<main>
  <section class="sec-1">
    <div class="bloq-contenido">
      <h1>Bienvenidos a TeachAll</h1>

      <p>
        En un mundo cada vez más digitalizado, el acceso a la información y la
        participación en la sociedad a través de la tecnología se han convertido
        en aspectos esenciales de la vida cotidiana. Sin embargo, es importante
        recordar que no todas las personas tienen las mismas capacidades y
        oportunidades para aprovechar al máximo estas herramientas. En este
        contexto, surge la necesidad de crear un proyecto de páginas web
        inclusivas y accesibles, diseñadas específicamente para niños con
        discapacidad. Este proyecto tiene como objetivo central empoderar a
        niños con discapacidad, brindándoles un espacio en línea donde puedan
        aprender, jugar, interactuar y expresarse de manera plena.
      </p>

      <div class="caja-botones">
        <div class="caja-link"><a routerLink="/maestro">SOY MAESTRO</a></div>
        <div class="caja-link"><a routerLink="/estudiante">SOY ALUMNO</a></div>
      </div>
    </div>

    <div class="bloq-video">
      <div class="caja-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jmcgysplgMA?si=YGYOZ78_g9ImVONz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </section>
</main>
