<main>
  <section class="sec-1">

    <div class="bloq">
        <div class="tema">
            <h2>TEMA:</h2>
            <input type="text" name="" id="" placeholder="INTRODUCE TU TEMA:" />
        </div>
    </div>

    <div class="bloq">
        <div class="preguntas">
            <h2>NÚMERO DE PREGUNTAS:</h2>
            <input type="text" name="" id="" placeholder="INDICA TU NÚMERO DE PREGUNTAS:" />
          </div>
    </div>


    <div class="listo">
            <img src="../../../assets/img/quiz/LISTO.png" alt="listo" />
            <h2>LISTO</h2>
    </div>

  </section>
</main>
