<main>
  <section class="sec-1">

    <div class="bloq">
        <div class="tema">
            <h2>TEMA:</h2>
            <input type="text" name="" id="" placeholder="Introduce tu Tema:" />
        </div>
    </div>

    <div class="bloq">
        <div class="preguntas">
            <h2>NUM PREGUNTAS:</h2>
            <input type="text" name="" id="" placeholder="¿Cuantas preguntas quieres?:" />
          </div>
    </div>


    <div class="listo">
            <img src="../../../assets/img/login/IMAGEN NIÑA.png" alt="listo" />
            <h2>LISTO</h2>
    </div>

  </section>
</main>
