<main class="main-login">
  <section class="bloq-izq">
    <div class="bloq-inicio-sesion">
      <div class="inicio-sesion">
        <h1>Iniciar Sesión</h1>
        <p>Ingresa tu nombre de usuario y tu contraseña para ingresar</p>
      </div>

      
      <form #myRegistro="ngForm" (ngSubmit)="login()">

      <div class="inputs">
        <input 
         type="email"
         name="email"
         (ionChange)="removeSpaces()"
         (input)="convertToLower()"
         [(ngModel)]="usuario.email"
         [disabled]="loading"
         minlength="1"
         maxlength="120"
         placeholder="Correo electrónico"/>

        <input 
        type="password"
        name="pass"
        (ionChange)="removeSpaces()"
        [(ngModel)]="usuario.pass"
        [disabled]="loading"
        minlength="1"
        maxlength="60"
        placeholder="Contraseña"/>
      </div>


      <div class="recuperar-contrasena">
        <a href="">¿Olvidaste tu contraseña?</a>
      </div>

      <div class="boton-inicio-sesion">
        <button type="submit" [disabled]="loading" [ngClass]="{'boton-default': loading}">
          <span value="warn" *ngIf="loading; else enviarText">
              <img src="../../../assets/img/spinner/spinner.svg" alt="spinner">
          </span>
            <ng-template #enviarText>Iniciar sesión</ng-template>
      </button>
      </div>

    </form>
      
      <div class="separador-horizontal">  </div>

      <div class="boton-crear">
        <button type="submit" routerLink="/registro">CREAR CUENTA NUEVA</button>
      </div>
    </div>
  </section>

  <section class="bloq-der">
    <div class="bloq-img">
      <div>
        <h2>Nombre del Proyecto</h2>
        <h3>IA Inclusiva</h3>
      </div>
    </div>
  </section>



</main>
