<main class="main-login">
  <section class="bloq-izq">
    <div class="bloq-inicio-sesion">
      <div class="inicio-sesion">
        <h1>Iniciar Sesion</h1>
        <p>Ingresa tu nombre de usuario y tu contraseña para ingresar</p>
      </div>

      <div class="inputs">
        <input type="text" placeholder="Usuario" />
        <input type="text" placeholder="Contraseña" />
      </div>

      <div>
        <a href="">¿Olvidaste tu contraseña?</a>
      </div>

      <div class="boton-inicio-sesion">
        <button type="submit">Iniciar Sesion</button>
      </div>
    </div>
  </section>

  <section class="bloq-der">
    <div class="bloq-img">
      <div>
        <h2>Nombre del Proyecto</h2>
        <h3>IA Inclusiva</h3>
      </div>
    </div>
  </section>



</main>
