<main>
  <section class="bloq-principal">
    <h1>TeachAll</h1>
    <div class="caja-codigo">
        
      <div class="caja-pin">
        <div class="caja-imagen">
          <img src="../../../assets/img/quiz-alumnos/PIN.png" alt="" />
        </div>
        <div class="caja-texto">
            <input placeholder="PIN" type="text">
        </div>
      </div>

      <div class="caja-ingresar">
        <div class="caja-imagen">
          <img src="../../../assets/img/quiz-alumnos/INGRESAR.png" alt="" />
        </div>
        <div class="caja-texto">
            <h2>INGRESAR</h2>
        </div>
      </div>

    </div>

    <h3 class="caja-h3">"Descubre, aprendre, triunfa"</h3>
  </section>
</main>
