/* You can add global styles to this file, and also import other style files */

:root{
    --color-verde: #88C100;
    --color-naranja: #FF8A00;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
 }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
