<main>
    <section class="bloq-principal">

        <section class="sec-1">
            <h2 class="titulo-quiz">Mis Quizes</h2>
            <div class="mi-quiz">
                <div class="quiz">
                    <h2>Matematicas</h2>
                    <h4>10 preguntas</h4>
                </div>
                <div class="info-extra">
                    <div class="caja-activar">
                        <a href="">ACTIVAR</a>
                    </div>
                    <p>FECHA: 25 / OCT / 2023 </p>
                </div>
            </div>
            <div class="mi-quiz">
                <div class="quiz">
                    <h2>Matematicas</h2>
                    <h4>10 preguntas</h4>
                </div>
                <div class="info-extra">
                    <div class="caja-activar">
                        <a href="">ACTIVAR</a>
                    </div>
                    <p>FECHA: 25 / OCT / 2023 </p>
                </div>
            </div>
            <div class="mi-quiz">
                <div class="quiz">
                    <h2>Matematicas</h2>
                    <h4>10 preguntas</h4>
                </div>
                <div class="info-extra">
                    <div class="caja-activar">
                        <a href="">ACTIVAR</a>
                    </div>
                    <p>FECHA: 25 / OCT / 2023 </p>
                </div>
            </div>

        </section>

        <section class="sec-2">
            <div class="bloq-crear">
                <img src="" alt="">
                <p>CREAR QUIZ</p>
                <p>CON IA</p>
            </div>
            <div class="bloq-alumnos">
                <table>

                </table>
            </div>
        </section>

    </section>
</main>